@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<SanPham>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techzone</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="./assets/script.js" defer></script>
</head>
<div class="banner">
    <div class="container">
        <div class="slider-container has-scrollbar">
            <div class="slider-item">
                <img src="./assets/images/image-slider/iPhone-15-Plus.jpg" alt="Sale Phone" class="banner-img">
            </div>
            <div class="slider-item">
                <img src="./assets/images/image-slider/c4681493001123.5e5965887a8f4.jpg" alt="Sale Phone" class="banner-img">
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <!-- Danh mục -->
    <div class="categories">
        <div>
            <img class="category-img" src="./assets/images/ban-phim-co.png" alt="iPhone">
        </div>
        <div>
            <img class="category-img" src="./assets/images/may-doc-sach.png" alt="iPad">
        </div>
        <div>
            <img class="category-img" src="./assets/images/dong-ho-garmin.png" alt="MacBook">
        </div>
        <div>
            <img class="category-img" src="./assets/images/1laptop.png" alt="iMac">
        </div>
    </div>
    <!-- Danh mục thiết bị Apple -->
    <div class="tab-categories">
        <div class="item">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <p>Iphone</p>
        </div>
        <div class="item">
            <i class="fa-solid fa-laptop"></i>
            <p>MacBook</p>
        </div>
        <div class="item">
            <i class="fa-solid fa-headphones"></i>
            <p>AirPods</p>
        </div>
        <div class="item">
            <i class="fa-solid fa-display"></i>
            <p>iMac</p>
        </div>
        <div class="item">
            <i class="fa-solid fa-tablet-screen-button"></i>
            <p>iPad</p>
        </div>
        <div class="item">
            <i class="fa-solid fa-paperclip"></i>
            <p>Thiết bị</p>
        </div>
        <div class="item">
            <i class="fa-brands fa-usps"></i>
            <p>Dịch vụ</p>
        </div>
    </div>

    <!-- Sản phẩm mới nhất -->
    <div class="product-area">
        <p class="title-product">Sản Phẩm Mới</p>
        <div class="new-product">
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
        </div>

    </div>

    <div class="see-more-btn">
        <div class="bg-icon-plus">
            <i class="fa-solid fa-plus icon-plus"></i>
        </div>
        <p>Xem thêm</p>
    </div>
    <!-- Bán chạy -->
    <div class="product-area">
        <p class="title-product">Bán Chạy</p>
        <div class="new-product">
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
        </div>

    </div>

    <div class="see-more-btn">
        <div class="bg-icon-plus">
            <i class="fa-solid fa-plus icon-plus"></i>
        </div>
        <p>Xem thêm</p>
    </div>
    <!-- Yêu thích -->
    <div class="product-area">
        <p class="title-product">Yêu thích</p>
        <div class="new-product">
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
            <div class="product">
                <img src="./assets/images/techzones-macbook-pro-m2-2022-6-edit.jpg">
                <div class="product-info">
                    <p>Macbook Pro M2 2022</p>
                    <span>31.990.000 ₫</span>
                </div>
            </div>
        </div>

    </div>

    <div class="see-more-btn">
        <div class="bg-icon-plus">
            <i class="fa-solid fa-plus icon-plus"></i>
        </div>
        <p>Xem thêm</p>
    </div>

    <!-- banner 2 -->
    <div class="banner2" style="border:1px solid red;">
        <div class="img-banner2">
            <img class="img1-banner" src="./assets/images/build!-your!-style.png">
        </div>
        <div class="img-banner2">
            <img class="img2-banner" src="./assets/images/pc.png">
        </div>
    </div>

    <!-- Sản phẩm đặc biệt-->
    @if (Model != null)
{
    <div>
        <div class="product-area">
            <p class="title-product">Tất cả sản phẩm</p>
            <div class="new-product">
                @{
                    int counter = 0;
                    foreach (var item in Model)
                    {
                        <div class="product @(counter % 6 == 0 && counter > 0 ? "new-row" : "")">
                            <img src="~/Images/@(item?.HinhAnh)">
                            <div class="product-info">
                                <p>@(item?.TenSanPham)</p>
                                <span>@(item?.Gia)</span>
                            </div>
                        </div>
                        counter++;
                        if (counter % 6 == 0)
                        {
                            @:</div><div class="new-product">
                        }
                    }
                }
            </div>
        </div>
    </div>
}





    <div>
    </div>
</div>
